<div class="content">
	<div class="container">
	  <div class="row">
	  	<div class="col">
		    <div class="title">
		      <h1>
		        Templates
		      </h1>
		    </div>
		    <div class="paragraphs" style="margin-top: 50px;">
		      <p>
		        <b><a href="https://angular-templates.io/product/angular-site-template" target="_blank">{{ 'side_heading_1' | translate }}</a></b>: {{ 'paragraph_1' | translate }}
		      </p>
		      <p>
		        <b><a href="https://angular-templates.io/product/angular-admin-template" target="_blank">{{ 'side_heading_2' | translate }}</a></b>: {{ 'paragraph_2' | translate }}
		      </p>
		    </div>
		</div>
	  </div>
	</div>
</div>